html, body {
    width: 100%;
    height: 100%;
}
body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: 'Mont-HeavyDEMO';
    src: url('./mont(1)/Mont-HeavyDEMO.otf') format('truetype');
}
@font-face {
    font-family: 'Mont-ExtraLightDEMO';
    src: url('./mont(1)/Mont-ExtraLightDEMO.otf') format('truetype');
}
.sheet {
    background-color: rgba(255, 255, 255, 0.50);
    background-size: cover;
    min-height: 100% !important;
    min-width: 100% !important;
    position: absolute;
    top: 0px;
    left: 0px;
}
.backImg {
    background-image: url('./Chrio_resources/front-page-1.jpg');
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    width: 100%;
    position: relative;
    height: 100%;
    padding-top: 60px;
    background-repeat: no-repeat;
}
.nopad {
    padding: 0px !important;
}
.logo {
    font-family: 'Mont-HeavyDEMO';
    display: inline-flex;
    margin-bottom: 40px;
}
.logoImg {
    height: 70px;
    width: 70px;
}
.logoTX {
    margin-left: 15px;
    margin-top: 25px;
    font-size: 25px;
    line-height: 15px;
}
.logo1 {
    font-size: 9px;
}
.We {
    font-size: 60px;
    font-family: 'Mont-ExtraLightDEMO';
}
.introWe {
    font-family: 'Mont-HeavyDEMO';
}
.introHr {
    width: 90px;
    float: left;
    border: 5px solid rgb(255, 228, 0);
    margin-top: -10px;
}
.jumbotron {
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 15px;
    font-family: 'Mont-HeavyDEMO';
    display: inline-flex;
}
.jumbotron h1 {
    font-size: 80px;
}
.passion {
    font-family: 'Mont-ExtraLightDEMO';
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}
@media only screen and (max-width: 438px) {
    .backImg {
        padding: 0px !important;
        text-align: center;
    }
    .We {
        padding: 0px !important;
        width: 200px;
        margin: auto;
    }
    .jumbotron {
        display: block;
        background-color: transparent;
        padding: 0px !important;
    }
    .introHr {
        width: 80px;
        border: 3px solid rgb(255, 228, 0);
        margin-top: -10px;
        margin-left: 40px;
    }
}
.page2Img {
    background: url('./Chrio_resources/page2.jpg');
    background-size: cover;
    min-width: 100%;
    min-height: 100% !important;
    padding: 3% !important;
    position: relative;
    background-repeat: no-repeat;
}
.What {
    font-size: 40px;
    font-family: 'Mont-ExtraLightDEMO';
}
.what2 {
    font-family: 'Mont-HeavyDEMO';
}
.what1 {
    font-family: 'Mont-ExtraLightDEMO';
    margin-left: 25px;
}
.whatHr {
    width: 100px;
    float: left;
    border: 3px solid rgb(255, 228, 0);
    margin-top: -10px;
    margin-left: 3px;
}
.WhatWEdo {
    max-width: 680px;
    height: auto;
    background-color: rgba(255, 228, 0, 0.80);
    margin-top: 100px !important;
    padding-top: 20px;
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-left: 20px !important;
}
.strategy {
    padding: 0px !important;
}
.strategy ul {
    list-style: none;
    padding: 10px;
    font-size: 20px;
    font-family: 'Mont-ExtraLightDEMO';
}
.strategy ul li h2 {
    font-family: 'Mont-HeavyDEMO';
}
@media only screen and (max-width: 766px) {
    .page2Img {
        text-align: center;
    }
    .whatHr {
        width: 100px;
        border: 3px solid rgb(255, 228, 0);
        margin-top: -10px;
        margin-left: 3px;
    }
    .head {
        margin-bottom: 40px !important;
        text-align: center;
    }
    .planHr {
        width: 70px;
        border: 3px solid rgb(255, 228, 0);
        margin-top: -10px;
        float: none !important;
    }
    .What {
        font-size: 40px;
        font-family: 'Mont-ExtraLightDEMO';
        width: 300px !important;
        margin: auto !important;
    }
}
@media only screen and (max-width: 385px) {
    .whatHr {
        width: 100px;
        border: 5px solid rgb(255, 228, 0);
        margin-top: -10px;
        margin-left: 3px;
    }
    .what1 {
        margin-bottom: 40px;
    }
    .strategy ul {
        padding-left: 0px !important;
    }
    .strategy ul li {
        border-bottom: 1px solid #000000;
    }
    .leads {
        border-bottom: 0px !important;
    }
    .what1 {
        font-family: 'Mont-ExtraLightDEMO';
        margin-left: 0px;
    }
    .What {
        font-size: 40px;
        font-family: 'Mont-ExtraLightDEMO';
        width: 300px !important;
        margin: auto !important;
    }
}
@media only screen and (max-width: 380px) {
    .strategy ul li {
        border-bottom: 1px solid #000000;
    }
    .leads {
        border-bottom: 0px !important;
    }
    .what1 {
        font-family: 'Mont-ExtraLightDEMO';
        margin-left: 0px;
    }
}

/* PAGE 3 STARTS HERE*/

.page3Img {
    background: url('./Chrio_resources/page3.jpg');
    background-size: cover;
    min-width: 100%;
    min-height: 100% !important;
    background-repeat: no-repeat;
    padding: 3% !important;
    position: relative;
    padding-top: 80px;
}
.head {
    margin-bottom: 40px !important;
}
.planHr {
    width: 70px;
    border: 3px solid rgb(255, 228, 0);
    margin-top: -10px;
    float: left;
}
.plans {
    width: 100%;
    max-width: 250px;
    background-color: rgba(255, 228, 0, 0.80);
    text-align: center;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    min-height: 350px;
}
.planWe {
    font-family: 'Mont-HeavyDEMO';
}
.plans h1 {
    font-family: 'Mont-HeavyDEMO';
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
}
.planType {
    font-family: 'Mont-ExtraLightDEMO' !important;
    margin-top: 0px !important;
    font-size: 27px !important;
    line-height: 30px;
}
.plans hr {
    border: 0.5px solid #000000;
    margin-top: 10px;
    width: 70%;
}
.plans p {
    font-family: 'Mont-ExtraLightDEMO';
}
.price {
    margin-top: 102px;
    font-family: 'Mont-HeavyDEMO' !important;
}
.price2 {
    margin-top: 85px;
    font-family: 'Mont-HeavyDEMO' !important;
}
.price3 {
    margin-top: 50px;
    font-family: 'Mont-HeavyDEMO' !important;
}
@media only screen and (max-width: 965px) {
    .head {
        margin: auto;
    }
}
.page4Img {
    background-image: url('./Chrio_resources/page4.jpg');
    background-size: cover;
    min-height: 100% !important;
    width: 100% !important;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}
.cont1 {
    max-width: 100%;
    margin-right: 50px;
}
.cont2 {
    max-width: 90%;
    margin: auto;
    padding-right: 30px;
}
.curve {
    background-image: url('./Chrio_resources/quote-top.svg');
    opacity: 0.9;
    background-size: contain;
    background-position: left;
    min-height: 237px;
    height: 40%;
    width: 63% !important;
    margin-left: 50px !important;
    border: 0px;
    min-width: 270px !important;
    max-width: 470px !important;
    margin-bottom: -1px !important;
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-top: 100px;
    color: #000000
}
.speech {
    background-color: rgba(255, 228, 0, 0.70);
    margin-left: 50px !important;
    min-height: 300px !important;
    min-width: 270px !important;
    max-width: 470px !important;
    width: 63% !important;
    border: 0px;
    color: #000000;
    text-align: left;
    font-size: 13px;
    padding: 40px;
    font-family: 'Mont-ExtraLightDEMO';
}
.speechr {
    width: 70px;
    border: 5px solid #000000;
    margin-top: -10px;
    float: left;
}
.story {
    font-family: 'Mont-ExtraLightDEMO';
    color: #000000;
}
.your {
    font-family: 'Mont-HeavyDEMO';
    color: #000000;
}
.email {
    margin-top: 100px;
    padding: 0px !important;
    margin-bottom: 50px !important;
}
input {
    margin: 50px 0px 0px 20px;
    height: 25px;
    min-width: 200px;
    width: 43%;
    max-width: 310px;
    border: 0px;
    background-color: rgba(255, 255, 255, 0.70);
    padding-left: 10px;
}
*:focus {
    outline: none;
}
.mailHead {
    float: right;
    margin-bottom: -40px;
}
.mailhr {
    width: 70px;
    border: 5px solid #000000;
    margin-top: -10px;
}
.story {
    font-family: 'Mont-ExtraLightDEMO';
    color: #000000;
}
.your {
    font-family: 'Mont-HeavyDEMO';
    color: #000000;
}
.form {
    margin: auto;
    margin-top: 30px;
    text-align: center;
    clear: right;
}
.msg {
    height: 150px;
    width: 95%;
    max-width: 650px;
}
.choice {
    margin-right: 50px;
    width: 60% !important;
    max-width: 469px;
}
.but {
    margin-left: 55px;
    background-color: transparent;
    width: 85px;
    border-radius: 5px;
    border: 1px solid #000000;
}
@media only screen and (max-width: 1200px) {
    .choice {
        max-width: 270px !important;
        width: 60% !important;
        margin-top: 30px !important;
    }
    .but {
        margin-top: 40px;
        margin-left: 30px !important;
        background-color: transparent;
        width: 85px;
        border-radius: 5px;
        border: 1px solid #000000;
    }
    .mailHead {
        margin: auto !important;
        width: 200px !important;
        float: none;
    }
    .cont1 {
        margin: auto;
    }
    .speechHead {
        margin: auto !important;
        width: 200px !important;
    }
    .curve, .speech {
        margin: auto !important;
        margin-top: 40px !important;
    }
}